<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!-- 
        <add name="BEAProjectManagement.Properties.Settings.beaDBConnectionString"
            connectionString="Data Source=188.164.207.106,1512;Initial Catalog=beaDB2;Persist Security Info=True;User ID=diadrasis_sa;Password=D1aDr@$1S"
            providerName="System.Data.SqlClient" />
      -->

      <add name="BEAProjectManagement.Properties.Settings.beaDBConnectionString"
         connectionString="Data Source=.\SQLExpress;Initial Catalog=beaDB2;Persist Security Info=True;User ID=sa;Password=!diadrasis$"
         providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>